
<!--
<map name="image-map">
    <area onclick="@OnMapAreaClickedAsync()" alt="Mocambique" title="Mocambique" class="x" href="" coords="1362,2648,1331,2637,1326,2490,1323,2450,1399,2314,1439,2314,1461,2277,1452,2211,1474,2163,1626,2142,1584,2188,1531,2218,1493,2233,1496,2285,1520,2390,1518,2470,1498,2517,1387,2561,1363,2588" shape="poly">
    <area onclick="@OnMapAreaClickedAsync()" alt="Angola" title="Angola" class="x" href="" coords="208,1370,233,1365,248,1384,278,1381,320,1423,356,1623,369,1687,354,1722,332,1739,324,1714,304,1677,282,1618,300,1601,287,1547,236,1461" shape="poly">
    <area onclick="@OnMapAreaClickedAsync()" alt="Fernando Poo" title="Fernando Poo" class="x" href="" coords="43,787,97,789,127,822,174,851,140,876,132,942,137,965,85,964,100,908,85,869,56,859,29,827" shape="poly">
    <area onclick="@OnMapAreaClickedAsync()" alt="Zanzibar" title="Zanzibar" class="x" href="" coords="1794,1582,1696,1582,1681,1562,1764,1423,1752,1397,1774,1362,1742,1360,1764,1302,1817,1328,1782,1397,1770,1463,1812,1498" shape="poly">
    <area onclick="@OnMapAreaClickedAsync()" alt="Khartoum" title="Khartoum" class="x" href="" coords="1385,437,1350,343,1357,239,1378,153,1377,57,1436,55,1476,81,1542,160,1616,200,1617,251,1595,306,1590,400,1543,377,1523,351,1479,341,1442,358,1410,372" shape="poly">
</map>
-->

<div class="map_container">
    <img src="img/HOD_map.png" class="map_image">

    <svg 
        xmlns="http://www.w3.org/2000/svg" 
        version="1.1" 
        id="svgMap"
        class="map_areas"
        viewBox="0 0 1904 2931"
   >
        <polygon id="khartoum" class="hidden" @onclick="() => OnMapAreaClickedAsync()" points="1385,437,1350,343,1357,239,1378,153,1377,57,1436,55,1476,81,1542,160,1616,200,1617,251,1595,306,1590,400,1543,377,1523,351,1479,341,1442,358,1410,372" />
    </svg>

</div>



