@inherits InventoryResourceComponentBase

<div class="resource-item">
    <div class ="item-wrapper">
        <img src="@ImageFile"
                width="@Definition.Image.Width"
                height="@Definition.Image.Height"
                class="selectable"
                @onclick="() => OnClickHandler(Definition.Id)" />
        <img src="img/subtract.png"
                width="20"
                height="20"
                class="selectable item-overlay"
                @onclick="() => OnSubtractHandler(Definition.Id)" />
    </div>
    <div>
        @Definition.Name
    </div>
    <div>
        @Count
        @if (Limit < int.MaxValue)
        {
            <text>/ @Limit</text>
        }
    </div>
</div>